html {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/bg-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  color: #363636;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #363636;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 30px;
}

.payment {
  margin-bottom: 80px;
}

.payment__img-top {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  top: 0;
}

.payment__img-center {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  top: 420px;
}

.payment__img-down {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  bottom: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.payment__title {
  margin: 48px auto 64px auto;
  max-width: 876px;
}

.payment__title-inner {
  text-align: center;
  font-weight: 800;
  font-family: 'Raleway';
  font-size: 56px;
  line-height: 66px;
}

.payment__block {
  background: #FBF9FB;
  border-radius: 24px;
  padding: 40px 48px;
  margin-bottom: 32px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.payment__block .payment__rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.payment__block .payment__rating-wrapper .payment__rating-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.payment__block .payment__rating-wrapper .payment__rating-right .payment__rating-clients {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.payment__block .payment__rating-wrapper .payment__rating-choose {
  color: #363636;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
}

.payment__block .payment__discount {
  background: rgba(255, 121, 0, 0.1);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px 26px;
  gap: 16px;
  color: #FF7900;
  margin-bottom: 32px;
}

.payment__block .payment__discount .payment__discount-desc {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.payment__block .payment__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.payment__block .payment__time .payment__time-block {
  border: 1px solid #D5D2D6;
  border-radius: 24px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 365px;
  width: 100%;
}

.payment__block .payment__time .payment__time-block .payment__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
}

.payment__block .payment__time .payment__time-block .payment__radio .payment__radio-inner {
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
  cursor: pointer;
}

.payment__block .payment__time .payment__time-block .payment__time-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -17px;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 24px;
}

.payment__block .payment__time .payment__time-block .payment__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 14px;
  font-weight: 800;
}

.payment__block .payment__time .payment__time-block .payment__price > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.payment__block .payment__time .payment__time-block .payment__price .payment__price-left {
  font-size: 32px;
  line-height: 38px;
}

.payment__block .payment__time .payment__time-block .payment__price .payment__price-center {
  color: #949494;
  font-size: 20px;
  line-height: 30px;
  text-decoration: line-through;
}

.payment__block .payment__time .payment__time-block .payment__price .payment__price-right {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: white;
  background: linear-gradient(322.43deg, #9E00C1 8.7%, #8700A5 92.24%);
  border-radius: 16px;
  padding: 6px 12px;
}

.payment__block .payment__time .payment__time-block .payment__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #9D9A9D;
}

.payment__block .payment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.payment__block .payment__buttons .payment__submit {
  background: linear-gradient(322.43deg, #9E00C1 8.7%, #8700A5 92.24%);
  border-radius: 16px;
  border: 1px solid linear-gradient(322.43deg, #9E00C1 8.7%, #8700A5 92.24%);
  padding: 16px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.payment__block .payment__buttons .payment__label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #363636;
}

.payment__block .payment__buttons .payment__input {
  display: none;
}

.payment__block .payment__buttons .payment__label {
  background: #F1EEF2;
  border-radius: 16px;
  width: 335px;
  border: 1px solid #F1EEF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 16px 24px;
  cursor: pointer;
}

.payment__block .payment__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 18px;
  margin-bottom: 34px;
}

.payment__block .payment__agree > p > a {
  text-decoration: underline;
  color: #9400B5;
}

.payment__block .payment__agree > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.payment__block .payment__operators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__support {
  background-color: #FBF9FB;
  padding: 32px 40px;
  border-radius: 24px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.payment__support .payment__support-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment__support .payment__support-top > p > a {
  color: #9400B5;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.payment__support .payment__support-top .payment__users {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.payment__support .payment__support-top .payment__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.payment__support .payment__support-top .payment__navigation > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.payment__support .payment__support-center {
  margin: 32px 0px;
}

.payment__support .payment__support-center > p {
  color: #8B888C;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
}

.payment__support .payment__support-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.payment__support .payment__support-bottom > div > a {
  text-decoration: underline;
}

.payment__support .payment__support-bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

@media screen and (max-width: 1080px) {
  .payment__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
